.projects {
  background: var(--color-light);
  color: var(--color-medium);
  flex-direction: column;
  padding-top: 1rem ;
  font-family: 'Righteous';
  border-style: double;
  border-width: 10px; /* 👈 adjust thickness */
  border-color: #fff; /* optional, makes it visible */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.projects h2 {
  font-size: 2rem;
  color: var(--color-dark);
  padding-top: 0;
}